.select {
  position: relative;
  min-width: 130px;
}
.select select {
  /* -webkit-appearance: none; */
  padding: 7px 7px 7px 7px;
  width: 115%;
  border: 3px solid #eb0f0f;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: 'Creepster', cursive;
  font-style: italic;
  font-size: 14px;
  transition: all 150ms ease;
  color: #eb0f0f;
}
.select select:required:invalid {
  color: #eb0f0f;
}
.select select option {
  color: #eb0f0f;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #eb0f0f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.select select:hover {
  stroke: #07f;
}



